<header>
  <div class="container overlay__img">
    <nav class="nav">
      <a class="nav__logo" href="#">
        <svg class="nav__svg" width="24px" height="24px">
          <usg href="../images/symbol-defs.svg#icon-film"></usg>
        </svg>
        <span class="nav__span hidden">Filmoteka</span>
      </a>
      <a class="nav__link" href="./index.html">Home</a>
      <a class="nav__link" href="">my library</a>
    </nav>
    <form class="form">
      <label class="form__label">
        <input type="text" />
        <svg class="form__svg" width="24px" height="24px">
          <usg href="../images/symbol-defs.svg#icon-search"></usg>
        </svg>
      </label>
    </form>
  </div>
</header>
